<ion-header [translucent]="true">
  <ion-toolbar color="dark">

    <ion-buttons slot="start">
      <ion-menu-button color="success"></ion-menu-button>
    </ion-buttons>

    <ion-title>Home</ion-title>
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="false" color="dark">
<!--
  <ion-header collapse="condense">
    <ion-toolbar color="dark">
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>

-->

  <ion-card color="dark">
    <img alt="imagemBemVindo" src="\assets\bemvindoHOME.png" />
    <ion-card-header>
      <ion-card-title>Bem-Vindo!</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Bem vindo a um dos meus primeiros aplicativos desenvolvidos em Ionic com Angular

      <p><br>O que esse app faz?
        <br>*Cadastro de novos usuários;
        <br>*Remoção de usuários;
        <br>*Edição de usuários existentes;
        <br>*Comunicação simples com bd utilizando uma api em PHP;

    </ion-card-content>
  </ion-card>



</ion-content>
