<ion-header [translucent]="true">
  <ion-toolbar color="dark">

    <ion-buttons slot="start">
      <ion-menu-button color="success"></ion-menu-button>
    </ion-buttons>

    <ion-title>Users</ion-title>
    <ion-buttons slot="primary" (click)="novoCliente()">
      <ion-button color="success">Add
        <ion-icon name="add-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false" color="dark">
  <ion-header collapse="condense">
    <ion-toolbar color="dark">
      <ion-title color="light" size="large">Clientes</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-list>
    <ion-item-sliding *ngFor="let c of clientes">
      <ion-item-options>
        <ion-item-option color="danger" (click)="presentDELETEAlert(c)">DELETAR</ion-item-option>
        <ion-item-option color="primary" (click)="editar(c)">EDITAR</ion-item-option>
      </ion-item-options>
      <ion-item>
        {{c.nome}}
      </ion-item>
    </ion-item-sliding>

  </ion-list>

</ion-content>
